.tweet-details-image {
  width: 67%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/403886/pexels-photo-403886.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.tweet-details-content {
  float: right;
  width: 30%;
  margin-top: 50px;
  margin-right: 10px;
}

.tweet-details-content-user_name {
  font-size: 1.5em;
}
.tweet-details-content-screen_name {
  font-size: 1.2em;
}

.tweet-details-content-text {
  margin-top: 30px;
  font-size: 2.5em;
  line-height: 1.5em;
}
